.ranktext {
  text-align: center;
  text-decoration: underline;
  font-family: monospace;
  background: -webkit-gradient(linear, left top, right top, from(#696969), color-stop(red), color-stop(yellow), color-stop(green), to(#696969));
  background: -webkit-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: -moz-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: -o-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: linear-gradient(to left, #696969, red, yellow, green, #696969);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: niss-is-an-animated-noob 15s ease-in-out infinite;
  background-size: 400% 100%;
}

@-webkit-keyframes niss-is-an-animated-noob {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@-moz-keyframes niss-is-an-animated-noob {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@-o-keyframes niss-is-an-animated-noob {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@keyframes niss-is-an-animated-noob {
  0%, 100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

i.ranking { 
    font-style: normal;
    color: #696969;
}
i.ranking::before { content: "["; }
i.ranking::after { content: "] "; }

/* Coloured Name code */
div.chatline span [href*="DieRandomDie"] .chatname {
  text-align: center;
  font-family: monospace;
  background: -webkit-gradient(linear, left top, right top, from(#696969), color-stop(red), color-stop(yellow), color-stop(green), to(#696969));
  background: -webkit-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: -moz-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: -o-linear-gradient(left, #696969, red, yellow, green, #696969);
  background: linear-gradient(to left, #696969, red, yellow, green, #696969);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* for officer 
div.chatline span[style*="color:#338833"] [href*="Pulp"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
div.chatline span[style*="color:#338833"] [href*="TheOGDungeonRaider"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
div.chatline span[style*="color:#338833"] [href*="HeyShorty"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
div.chatline span[style*="color:#338833"] [href*="Leon"] .chatname { color: #FF69B4 !important; font-weight: bold; font-family: webdings, Comic Sans MS, Verdana, Arial; font-variant: small-caps;font-size 150%;}
*/
