.kakorank {
	font-style: normal;
	background-image: url('https://media3.giphy.com/media/Ta1MVGKCG2GFq/200.webp?cid=ecf05e473hpuqmqzkovl58tjtw0ry0ze4udu91swsb95ihsl&rid=200.webp&ct=g');
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 13px;
}

.kakorank span {
	text-decoration: line-through black 3px;
}
