.kakorank {
	font-style: normal;
	background-image: url('https://media0.giphy.com/media/YmiVOwLxy16Ss/giphy.gif?cid=790b761123a3f11bc2478029e4c826762be18c50acb38b44&rid=giphy.gif&ct=g');
	background-size: 20%;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	font-size: 13px;
}

.kakorank span {
	text-decoration: line-through black 3px;
}
