div.chatline span [href*='"dierandomdie"'] .chatname {
  font-size: 0;
  visibility: hidden;
}

div.chatline span [href*='"dierandomdie"'] .chatname::before {
  font-size: 13px;
  visibility: visible;
  text-align: center;
  content: "DR";
  background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(red), color-stop(yellow), color-stop(green), to(#fff));
  background: -webkit-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: -moz-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: -o-linear-gradient(right, #fff, red, yellow, green, #fff);
  background: linear-gradient(to right, #fff, red, yellow, green, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

div.chatline span [href*='"dierandomdie"'] .chatname::after {
    content: "D";
    font-size: 13px;
    visibility: visible;
    display: inline-block;
    color: #ccc;
    animation: byeworld linear 10s infinite;
}

.drd {
	font-style: normal;
	animation: slide-forward 20s ease-in infinite;
}

.drd span {
	animation: slide-reverse 20s ease-in infinite;
}

@keyframes byeworld {
    0% {transform:translateY(0px);}
    1% {transform:translateY(-1px);}
    2% {transform:translateY(-5px);}
    3% {transform:translateY(-7px);}
    4% {transform:translateY(-7px);}
    5% {transform:translateY(-5px);}
    6% {transform:translateY(-1px);}
    7% {transform:translateY(0px);}
    10% {transform:translateY(0px);}
    11% {transform:translateY(-1px);}
    12% {transform:translateY(-5px);}
    13% {transform:translateY(-7px);}
    14% {transform:translateY(-7px);}
    15% {transform:translateY(-5px);}
    16% {transform:translateY(-1px);}
    17% {transform:translateY(0px);}
    25% {transform:translate(0px,0px) rotate(0deg);}
    26% {transform:translate(1px,-1px) rotate(20deg);}
    27% {transform:translate(3px,-5px) rotate(40deg);}
    28% {transform:translate(5px,-7px) rotate(60deg);}
    29% {transform:translate(7px,-7px) rotate(80deg);}
    30% {transform:translate(9px,-5px) rotate(100deg);}
    31% {transform:translate(12px,-1px) rotate(120deg);}
    32% {transform:translate(15px,8px) rotate(140deg);}
    33% {transform:translate(18px,15px) rotate(160deg);}
    34% {transform:translate(18px,25px) rotate(160deg);opacity: 1}
    35% {opacity: 0}
    70% {transform:translate(0px,0px);opacity: 0}
    71% {opacity: 1}
    72% {opacity: 0}
    73% {opacity: 1}
    74% {opacity: 0}
    75% {opacity: 1}
    76% {opacity: 0}
    80% {opacity: 1}
    
}

@keyframes slide-forward {
	0%, 100% {color: red}
	15% {color: orange}
	30% {color: yellow}
	45% {color: green}
	60% {color: blue}
	75% {color: indigo}
	90% {color: violet}
}

@keyframes slide-reverse {
	0%, 100% {color: violet}
	15% {color: indigo}
	30% {color: blue}
	45% {color: green}
	60% {color: yellow}
	75% {color: orange}
	90% {color: red}
}
